@model Rental.ViewModels.ResetPasswordViewModel

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />

    <label>Email</label>
    <input asp-for="Email" class="form-control" />

    <label>New Password</label>
    <input asp-for="Password" class="form-control" />

    <button type="submit" class="btn btn-success mt-3">Reset Password</button>
</form>
